blinker==1.9.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
cmake==4.0.0
colorama==0.4.6
decorator==4.4.2
dlib @ file:///C:/Users/MSI/Desktop/api%20compare%20face/face_recognition/dlib-19.22.1-cp39-cp39-win_amd64.whl
face-recognition==1.3.0
face-recognition-models==0.3.0
flask==3.1.0
flask-cors==5.0.1
gunicorn==23.0.0
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
importlib-metadata==8.6.1
itsdangerous==2.2.0
jinja2==3.1.6
MarkupSafe==3.0.2
moviepy==1.0.3
numpy==1.21.6
opencv-python==4.11.0.86
packaging==24.2
pillow==10.4.0
proglog==0.1.11
python-dotenv==1.1.0
requests==2.32.3
tqdm==4.67.1
urllib3==2.4.0
werkzeug==3.1.3
zipp==3.21.0
